<!DOCTYPE html>
<html>
  <head>
    <title>Dev Tools Landing Page</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Admin - Manage Links</h1>
      <p id="admin-message"></p>

      <button id="logout-button" type="button">Logout</button>

      <form class="form" id="link-form">
        <input type="hidden" id="link-id" />
        <input type="text" id="title" placeholder="Title" required />
        <input type="text" id="url" placeholder="URL" required />
        <input type="text" id="icon" placeholder="Icon URL (optional)" />
        <button type="submit" id="submit-link-button">Add Link</button>
        <button type="button" id="cancel-edit-button" hidden>Cancel Edit</button>
      </form>

      <div id="admin-links" class="grid"></div>

      <script src="/js/admin.js"></script>
    </div>
  </body>
</html>
