<!DOCTYPE html>
<html>
  <head>
    <title>Dev Tools Landing Page</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
      <h1>Developer Tools</h1>

      <div id="links-container" class="grid"></div>

      <script src="/js/app.js"></script>
    </div>
  </body>
</html>
